.about-section{
    background-image: url("../assets/images/bg.png");
    height: 800px;
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
}

.main-container{
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}