.about-section{
    background-image: url("../assets/images/bg.png");
    height: 800px;
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
}

.main-container{
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}


/* Dark gradient overlay */
.about-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.10)
  );

  z-index: 0;
}
